.connexion {
  color: green;
  font-size: 1.7rem;
}

.formulaire {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(240, 240, 247);
}

.title {
  font-size: 1.7rem;
  color: rgb(175, 175, 248);
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: rgb(68, 68, 134);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.champs,
.tarif {
  color: rgb(201, 6, 6);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
}

.validation {
  color: rgb(38, 191, 11);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
}

.liste_article {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(240, 240, 247);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead td {
    background-color: rgb(68, 68, 134);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: rgb(220, 220, 240);
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody td {
    padding: 10px;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
}